
  <div class="container-fluid">
    <div class="row main clearfix">
      <a href="#" class="js-floating-nav-trigger floating-nav-trigger"><i class="icon-bars"></i><span class="close-icon">&times;</span></a>
      <nav class="floating-nav js-floating-nav">
        <ul class="list-unstyled">
          <li><a href="#about"><i class="mr-10 icon-board"></i>About</a></li>
          <li><a href="#work-experience"><i class="mr-10 icon-office"></i>Work Experience</a></li>
          <li><a href="#skills"><i class="mr-10 icon-tools"></i>Skills</a></li>
          <li><a href="#education"><i class="mr-10 icon-graduation-cap"></i>Education</a></li>
          <li><a href="#awards"><i class="mr-10 icon-trophy"></i>Awards</a></li>
          <li><a href="#volunteer-work"><i class="mr-10 icon-child"></i>Volunteer Work</a></li>
          <li><a href="#publications"><i class="mr-10 icon-newspaper"></i>Publications</a></li>
          <li><a href="#interests"><i class="mr-10 icon-heart"></i>Interests</a></li>
          <li><a href="#references"><i class="mr-10 icon-thumbs-up"></i>References</a></li>
        </ul>
      </nav>
      <section class="col-md-3 card-wrapper profile-card-wrapper affix">
        <div class="card profile-card">
          <span class="profile-pic-container">
            <div class="profile-pic"><img data-src="holder.js/100x100" alt="Richard Hendriks" src="http://www.gravatar.com/avatar/{{md5email}}?s=100&amp;r=pg&amp;d=mm" itemprop="image" class="media-object img-circle center-block"/></div>
            <div class="name-and-profession text-center">
              <h4 itemprop="name"><b>{{basics.name}}</b></h3>
              <h5 itemprop="jobTitle" class="text-muted">{{basics.label}}</h5>
            </div>
          </span>
          <hr/>
          <div class="contact-details clearfix">
            <div class="detail"><span class="icon"><i class="icon fs-lg icon-location"></i></span><span class="info">{{basics.location.address}}, {{basic.location.cty}}, {{basics.location.region}}, {{basics.location.countryCode}}, {{basics.location.postalCode}}</span></div>
            <div class="detail"><span class="icon"><i class="icon fs-lg icon-phone"></i></span><span itemprop="telephone" class="info">{{basics.phone}}</span></div>
            <div class="detail">
              <span class="icon"><i class="icon fs-lg icon-mail"></i></span>
              <span class="info">
                <a href="mailto:{{basics.email}}" itemprop="email" class="link-disguise">
                  <span>{{basics.email}}</span>
                </a>
              </span>
            </div>
            <div class="detail"><span class="icon"><i class="icon fs-lg icon-link"></i></span><span class="info"><a href="{{basics.website}}" target="_blank">{{basics.website}}</a></span></div>
            <div class="detail"><span title="Languages I speak" class="icon"><i class="icon fs-lg icon-language"></i></span>
              {{#each languages}}
              <span class="info">{{language}}</span>
              {{/each}}
            </div>
          </div>
          <hr/>
          <div class="social-links text-center">
            <div><a href="//twitter.com/neutralthoughts" target="_blank" rel="tooltip" title="Richard Hendriks on Twitter" class="fs-2x social-link link-twitter icon-twitter"></a><a href="https://soundcloud.com/dandymusicnl" target="_blank" rel="tooltip" title="Richard Hendriks on SoundCloud" class="fs-2x social-link link-soundcloud icon-soundcloud"></a></div>
          </div>
        </div>
      </section>
      <section class="col-md-9 card-wrapper pull-right">
        <div class="card background-card">
          <h4 class="text-uppercase">Background</h4>
          <hr/>
          <div class="background-details">
            <div id="about" class="detail">
              <div class="icon"><i class="fs-lg icon-board"></i><span class="mobile-title">About</span></div>
              <div class="info">
                <h4 class="title text-uppercase">About</h4>
                <div itemprop="description" class="content">{{basics.summary}}</div>
              </div>
            </div>
            {{#if skills.length}}
            <div id="skills" class="detail">
              <div class="icon"><i class="fs-lg icon-tools"></i><span class="mobile-title">Skills</span></div>
              <div class="info">
                <h4 class="title text-uppercase">Skills</h4>
                <div class="content">
                  <ul class="list-unstyled">
                    {{#each skills}}
                        Key: {{@key}} Value = {{this}}
                    {{/each}}

                    {{#skills}}
                    <div class="space-top labels">
                      <span class="label label-keyword">{{.}}</span>
                    </div>
                    {{/skills}}
                  </ul>
                </div>
              </div>
            </div>
            {{/if}}
            {{#if works.length}}
            <div id="work-experience" class="detail">
              <div class="icon"><i class="fs-lg icon-office"></i><span class="mobile-title">Work Experience</span></div>
              <div class="info">
                <h4 class="title text-uppercase">Work Experience</h4>
                <ul class="list-unstyled">
                  {{#each works}}
                  <li class="card card-nested clearfix">
                    <div class="content">
                      <img src="{{website}}/favicon.ico" />
                      <p class="clear-margin relative"><strong>{{position}}</strong>,&nbsp;<a href="{{website}}" target="_blank">{{company}}</a></p>
                      <p class="text-muted"><small><span class="space-right">{{startDate}} - {{endDate}}</span><span><i class="icon-clock mr-5"></i>{{formatDate startDate endDate}}</span></small></p>
                      <p>{{summary}}</p>
                      <h5>Highlights</h5>
                      <ul>
                        {{#highlights}}
                        <li>{{.}}</li>
                        {{/highlights}}
                      </ul>
                      <h5>Skills</h5>
                      <ul class="list-unstyled">
                        {{#each skills}}
                          <div class="space-top labels">
                            <span class="label label-keyword">{{@key}}</span>
                            {{#each this}}
                              <span class="label label-keyword">{{.}}</span>
                            {{/each}}
                          </div>
                        {{/each}}
                      </ul>
                    </div>
                  </li>
                  {{/each}}
                </ul>
              </div>
            </div>
            {{/if}}
            {{#if education.length}}
            <div id="education" class="detail">
              <div class="icon"><i class="fs-lg icon-graduation-cap"></i><span class="mobile-title">Education</span></div>
              <div class="info">
                <h4 class="title text-uppercase">Education</h4>
                <div class="content">
                  <ul class="list-unstyled">
                    {{#each education}}
                    <li class="card card-nested">
                      <div class="content">
                        <p class="clear-margin relative"><strong>{{studyType}},&nbsp;</strong>{{institution}}</p>
                        <p class="text-muted"><small>{{startDate}} - {{endDate}}</small></p>
                        {{#if gpa}}
                        <i>{{gpa}}</i>
                        {{/if}}
                        {{#if courses}}
                        <div class="space-top labels">
                          {{#each courses}}
                          <span class="label label-keyword">{{.}}</span>
                          {{/each}}
                        </div>
                        {{/if}}
                      </div>
                    </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
            {{/if}}
            {{#if awards.length}}
            <div id="awards" class="detail">
              <div class="icon"><i class="fs-lg icon-trophy"></i><span class="mobile-title">Awards</span></div>
              <div class="info">
                <h4 class="title text-uppercase">Awards</h4>
                <div class="content">
                  <ul class="list-unstyled">
                    {{#each awards}}
                    <li class="card card-nested">
                      <div class="content">
                        <p itemprop="award" class="clear-margin"><strong>{{title}} </strong>{{awarder}}</p>
                        <p class="text-muted"><small>Awarded on: {{date}}</small></p>
                        <p class="clear-margin">{{summary}}</p>
                      </div>
                    </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
            {{/if}}
            {{#if volunteer.length}}
            <div id="volunteer-work" class="detail">
              <div class="icon"><i class="fs-lg icon-child"></i><span class="mobile-title">Volunteer Work</span></div>
              <div class="info">
                <h4 class="title text-uppercase">Volunteer Work</h4>
                <div class="content">
                  <ul class="list-unstyled">
                    {{#each volunteer.length}}
                    <li class="card card-nested">
                      <div class="content">
                        <p class="clear-margin relative"><strong>{{position}}, </strong><a href="{{website}}" target="_blank">{{organization}}</a></p>
                        <p class="text-muted"><small>{{startDate}} - {{endDate}}</small></p>
                        <p>{{summary}}</p>
                        {{#if highlights.length}}
                        <ul>
                          {{#each}}
                          <li>{{.}}</li>
                          {{/each}}
                        </ul>
                        {{/if}}
                      </div>
                    </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
            {{/if}}
            {{#if publications.lenght}}
            <div id="publications" class="detail">
              <div class="icon"><i class="fs-lg icon-newspaper"></i><span class="mobile-title">Publications</span></div>
              <div class="info">
                <h4 class="title text-uppercase">Publications</h4>
                <div class="content">
                  <ul class="list-unstyled">
                    {{#each publications}}
                    <li class="card card-nested">
                      <div class="content">
                        <p class="clear-margin"><strong><a href="http://en.wikipedia.org/wiki/Silicon_Valley_(TV_series)" target="_blank">{{name}}</a>&nbsp;,&nbsp;</strong>{{publisher}}</p>
                        <p class="text-muted"><small>Published on: {{releaseDate}}</small></p>
                        <p class="clear-margin">{{summary}}</p>
                      </div>
                    </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
            {{/if}}
            {{#if interests.length}}
            <div id="interests" class="detail">
              <div class="icon"><i class="fs-lg icon-heart"></i><span class="mobile-title">Interests</span></div>
              <div class="info">
                <h4 class="title text-uppercase">Interests</h4>
                <div class="content">
                  <ul class="list-unstyled">
                    {{#each interests}}
                    <li class="card card-nested">
                      <p><strong>{{name}}</strong></p>
                      <div class="space-top labels"><span class="label label-keyword">Ferrets</span><span class="label label-keyword">Unicorns</span></div>
                    </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
            {{/if}}
            {{#if references.length}}
            <div id="references" class="detail">
              <div class="icon"><i class="fs-lg icon-thumbs-up"></i><span class="mobile-title">References</span></div>
              <div class="info">
                <h4 class="title text-uppercase">References</h4>
                <div class="content">
                  <ul class="list-unstyled">
                    {{#each references}}
                    <li class="card card-nested">
                      <p><strong>{{name}}</strong></p>
                      <blockquote class="quote">
                        <p class="clear-margin">{{reference}}</p>
                      </blockquote>
                    </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/tooltip.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/collapse.js"></script><script>$(function () {
    var toggleFloatingMenu = function() {
      $( '.js-floating-nav' ).toggleClass( 'is-visible' );
      $( '.js-floating-nav-trigger' ).toggleClass( 'is-open' );
    };

    $( ".background-card" ).css( "min-height", window.screen.availHeight + "px" );
    $( "[rel=tooltip]" ).tooltip();
    $( '.js-floating-nav-trigger' ).on( 'click', function(e) {
      e.preventDefault();
      toggleFloatingMenu();
    });
    $( '.js-floating-nav a' ).on( 'click', toggleFloatingMenu );

    $("#remaining-profiles").on('show.bs.collapse', function() {
      $( '.js-profiles-collapse > i' )
        .removeClass( 'icon-chevron-down' )
        .addClass( 'icon-chevron-up' );
    });

    $("#remaining-profiles").on('hidden.bs.collapse', function() {
      $( '.js-profiles-collapse > i' )
        .removeClass( 'icon-chevron-up' )
        .addClass( 'icon-chevron-down' );
    });
    });
  </script><script>WebFontConfig = {
    google: { families: [ 'Lato:300,400,700:latin' ] }
    };
    (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
    })();
  </script><script type="text/javascript">
    /* <![CDATA[ */
    (function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
    /* ]]> */
  </script> -->


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script>
<script type="text/javascript">
  var editableElms = $('strong, p, h1, h2, h3, h4, h5');

  editableElms.on('click', function (e) {
    $(this).attr('contenteditable', true)
  })
  .on('blur', function(e) {
    window.resume[$(this).data('key')] = $(this).text()
  })

  .on('change', function (e) {})


</script> -->
