
  <div class="container-fluid">
    <div class="row main clearfix">
      {{!-- <a href="#" class="js-floating-nav-trigger floating-nav-trigger"><i class="icon-bars"></i><span class="close-icon">&times;</span></a> --}}
      <section class="col-md-3 card-wrapper profile-card-wrapper affix">
        <div class="card profile-card">
          <div class="abbeal-logo-header"><img alt="{{basics.name}}" src="./css/abbeal-green/logo-abbeal.png" itemprop="image" class="media-object center-block"/></div>
          <span class="profile-pic-container">
            <div class="profile-pic">
              <div class="pic-container">
                <img alt="{{basics.name}}" src="http://www.gravatar.com/avatar/{{md5email}}" itemprop="image" class="media-object img-circle center-block gravatar"/>
                <img alt="Abbeal" src="./css/abbeal-green/abbeille.png"  width="50" height="50" itemprop="image" class="abbeal-logo"/>
              </div>
            </div>
            <div class="name-and-profession text-center">
              <h4 itemprop="name"><b>{{basics.name}}</b></h3>
              <h5 itemprop="jobTitle" class="text-muted">{{basics.label}}</h5>
              {{#unless pdf}}
                <span class="icon"><i class="icon fs-lg icon-chevron-down"></i></span>
                <a href="./resume/{{slugName}}/download" download>Download as PDF</a>
                <span class="icon"><i class="icon fs-lg icon-newspaper"></i></span>
                <a href="javascript:void(0)" onclick="window.print()">Print</a>
              {{/unless}}
            </div>
          </span>
          <hr/>
          <div class="contact-details clearfix">
            <div class="detail" ><span class="icon"><i class="icon fs-lg icon-location"></i></span><span class="info">{{basics.location.city}}, {{basics.location.postalCode}}</span></div>
            <div class="detail" ><span class="icon"><i class="icon fs-lg icon-phone"></i></span><span itemprop="telephone" class="info">{{basics.phone}}</span></div>
            <div class="detail" >
              <span class="icon"><i class="icon fs-lg icon-mail"></i></span>
              <span class="info">
                <a href="mailto:{{basics.email}}" itemprop="email" class="link-disguise">
                  <span>{{basics.email}}</span>
                </a>
              </span>
            </div>
            <div class="detail"><span class="icon"><i class="icon fs-lg icon-link"></i></span><span class="info"><a href="{{basics.website}}" target="_blank">{{basics.website}}</a></span></div>
            <div class="detail languages"><span title="Languages I speak" class="icon"><i class="icon fs-lg icon-language"></i></span>
              {{#each languages}}
                <span class="info">{{language}}</span>
              {{/each}}
            </div>
          </div>
          {{!-- <hr/>
          <div class="social-links text-center">
            <div><a href="//twitter.com/neutralthoughts" target="_blank" rel="tooltip" title="Richard Hendriks on Twitter" class="fs-2x social-link link-twitter icon-twitter"></a><a href="https://soundcloud.com/dandymusicnl" target="_blank" rel="tooltip" title="Richard Hendriks on SoundCloud" class="fs-2x social-link link-soundcloud icon-soundcloud"></a></div>
          </div> --}}
        </div>
      </section>
      <section class="col-md-9 card-wrapper pull-right">
        <div class="card background-card">
          <div class="background-details">
            <div class="subpage">
              <div id="about" class="detail">
                <div class="icon"><i class="fs-lg icon-board"></i><span class="mobile-title">About</span></div>
                <div class="info">
                  <h4 class="title text-uppercase">About</h4>
                  <div itemprop="description" class="content">{{basics.summary}}</div>
                </div>
              </div>
              {{#if skills.length}}
              <div id="skills" class="detail">
                <div class="icon"><i class="fs-lg icon-tools"></i><span class="mobile-title">Skills</span></div>
                <div class="info">
                  <h4 class="title text-uppercase">Skills</h4>
                  <div class="content">
                    <ul class="list-unstyled">
                      <div class="space-top labels">
                        {{#each skills}}
                        <span class="label label-keyword">{{@key}}</span>
                        {{#each this}}
                        <span class="label label-keyword">{{.}}</span>
                        {{/each}}
                        {{/each}}
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
              {{/if}}
              {{#if works.length}}
              <div id="work-experience" class="detail">
                <div class="icon"><i class="fs-lg icon-office"></i><span class="mobile-title">Work Experience</span></div>
                <div class="info">
                  <h4 class="title text-uppercase">Work Experience</h4>
                  <ul class="list-unstyled">
                    {{#each works}}
                    <li class="card card-nested clearfix">
                      <p class="relative"><strong>{{position}}</strong>,&nbsp;<a href="{{website}}" target="_blank">{{company}}</a></p>
                      {{#if logo}}
                      <div class="company-logo pull-left clear-margin clear-padding">
                        <img src="{{logo}}" class="img-responsive" onerror="this.parentNode.style.display='none'" />
                      </div>
                      {{/if}}
                      <div class="content">
                        <p class="text-muted"><small><span class="space-right">{{startDate}} - {{endDate}}</span><span><i class="icon-clock mr-5"></i>{{formatDate startDate endDate}}</span></small></p>
                        <p>{{summary}}</p>
                        {{#if highlights.length}}
                        <h5><strong>Highlights</strong></h5>
                        <ul>
                          {{#each highlights}}
                          <li>{{.}}</li>
                          {{/each}}
                        </ul>
                        {{/if}}
                      </div>
                      {{#if skills.length}}
                      <div class="row">
                        <div class="content col-md-12">
                          <h5><strong>Skills</strong></h5>
                          <ul class="list-unstyled">
                            <div class="space-top labels">
                              {{#each skills}}
                              {{!-- <span class="label label-keyword">{{@key}}</span> --}}
                              {{#each this}}
                              <span class="label label-keyword">{{.}}</span>
                              {{/each}}
                              {{/each}}
                            </div>
                          </ul>
                        </div>
                      </div>
                      {{/if}}
                    </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
              {{/if}}
            </div>
              {{#if education.length}}
              <div id="education" class="detail">
                <div class="icon"><i class="fs-lg icon-graduation-cap"></i><span class="mobile-title">Education</span></div>
                <div class="info">
                  <h4 class="title text-uppercase">Education</h4>
                  <div class="content">
                    <ul class="list-unstyled">
                      {{#each education}}
                      <li class="card card-nested">
                        <div class="content">
                          <p class="clear-margin relative"><strong>{{studyType}},&nbsp;</strong>{{institution}}</p>
                          <p class="text-muted"><small><span class="space-right">{{startDate}} - {{endDate}}</span><span><i class="icon-clock mr-5"></i>{{formatDate startDate endDate}}</span></small></p>
                          {{#if gpa}}
                          <i>{{gpa}}</i>
                          {{/if}}
                          {{#if courses}}
                          <div class="space-top labels">
                            {{#each courses}}
                            <span class="label label-keyword">{{.}}</span>
                            {{/each}}
                          </div>
                          {{/if}}
                        </div>
                      </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
              {{/if}}
              {{#if awards.length}}
              <div id="awards" class="detail">
                <div class="icon"><i class="fs-lg icon-trophy"></i><span class="mobile-title">Awards</span></div>
                <div class="info">
                  <h4 class="title text-uppercase">Awards</h4>
                  <div class="content">
                    <ul class="list-unstyled">
                      {{#each awards}}
                      <li class="card card-nested">
                        <div class="content">
                          <p itemprop="award" class="clear-margin"><strong>{{title}} </strong>{{awarder}}</p>
                          <p class="text-muted"><small>Awarded on: {{date}}</small></p>
                          <p class="clear-margin">{{summary}}</p>
                        </div>
                      </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
              {{/if}}
              {{#if volunteer.length}}
              <div id="volunteer-work" class="detail">
                <div class="icon"><i class="fs-lg icon-child"></i><span class="mobile-title">Volunteer Work</span></div>
                <div class="info">
                  <h4 class="title text-uppercase">Volunteer Work</h4>
                  <div class="content">
                    <ul class="list-unstyled">
                      {{#each volunteer}}
                      <li class="card card-nested">
                        <div class="content">
                          <p class="clear-margin relative"><strong>{{position}}, </strong><a href="{{website}}" target="_blank">{{organization}}</a></p>
                          <p class="text-muted"><small><span class="space-right">{{startDate}} - {{endDate}}</span><span><i class="icon-clock mr-5"></i>{{formatDate startDate endDate}}</span></small></p>
                          <p>{{summary}}</p>
                          {{#if highlights.length}}
                          <ul>
                            {{#each highlights}}
                            <li>{{.}}</li>
                            {{/each}}
                          </ul>
                          {{/if}}
                        </div>
                      </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
              {{/if}}
              {{#if publications.lenght}}
              <div id="publications" class="detail">
                <div class="icon"><i class="fs-lg icon-newspaper"></i><span class="mobile-title">Publications</span></div>
                <div class="info">
                  <h4 class="title text-uppercase">Publications</h4>
                  <div class="content">
                    <ul class="list-unstyled">
                      {{#each publications}}
                      <li class="card card-nested">
                        <div class="content">
                          <p class="clear-margin"><strong><a href="http://en.wikipedia.org/wiki/Silicon_Valley_(TV_series)" target="_blank">{{name}}</a>&nbsp;,&nbsp;</strong>{{publisher}}</p>
                          <p class="text-muted"><small>Published on: {{releaseDate}}</small></p>
                          <p class="clear-margin">{{summary}}</p>
                        </div>
                      </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
              {{/if}}
              {{#if interests.length}}
              <div id="interests" class="detail">
                <div class="icon"><i class="fs-lg icon-heart"></i><span class="mobile-title">Interests</span></div>
                <div class="info">
                  <h4 class="title text-uppercase">Interests</h4>
                  <div class="content">
                    <ul class="list-unstyled">
                      {{#each interests}}
                      <li class="card card-nested">
                        <p><strong>{{name}}</strong></p>
                        <div class="space-top labels"><span class="label label-keyword">Ferrets</span><span class="label label-keyword">Unicorns</span></div>
                      </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
              {{/if}}
              {{#if references.length}}
              <div id="references" class="detail">
                <div class="icon"><i class="fs-lg icon-thumbs-up"></i><span class="mobile-title">References</span></div>
                <div class="info">
                  <h4 class="title text-uppercase">References</h4>
                  <div class="content">
                    <ul class="list-unstyled">
                      {{#each references}}
                      <li class="card card-nested">
                        <p><strong>{{name}}</strong></p>
                        <blockquote class="quote">
                          <p class="clear-margin">{{reference}}</p>
                        </blockquote>
                      </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
              {{/if}}
            </div>
          <div><img alt="{{basics.name}}" src="./css/abbeal-green/logo-abbeal.png" itemprop="image" class="media-object center-block"/></div>
        </div>
      </section>
    </div>
  </div>
  {{!-- <iframe id="printf" name="printf" src="http://localhost:3000/resume/{{slugName}}/download" width="1px" height="1px" /> --}}
  {{!-- <embed
      type="application/pdf"
      src="http://localhost:3000/resume/{{slugName}}/download"
      id="pdfDocument"
      width="100%"
      height="100%">
  </embed> --}}
